<% include ./partials/header %>

<h1>Зарегайся</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="имя">
    <input type="password" name="password" placeholder="пароль">
    <button>Зарегистрироваться</button>
</form>

<% include ./partials/footer %>