body {
    font-family: 'Lobster', cursive;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.jumbotron .container, .register, .login, #start {
    text-align: center;
}

.thumbnail .caption-full {
    padding: 10px;
}

.start-image {
    margin: 20px;
}

#btn-more {
    margin-left: 5px;
}

#delete-form {
    display: inline;
}